DATABASE_URL=mongodb://127.0.0.1/your-database-name
PAYLOAD_SECRET=YOUR_SECRET_HERE

EXT_AWS_ACCESS_KEY_ID=
EXT_AWS_SECRET_ACCESS_KEY=
EXT_AWS_REGION=ap-southeast-1
EXT_S3_BUCKET=bucket-name
EXT_S3_MEDIA_ENDPOINT=https://bucket-name.s3.ap-southeast-1.amazonaws.com